<%- include('./common/head.ejs')%>
    <%- include('./common/header.ejs')%>

        <main>
            <!-- breadcrumb -->
            <section
                class="breadcrumb z-20 relative py-36 after:content-[''] after:absolute after:w-full after:h-full after:bg-black after:top-0 after:left-0 after:opacity-50 after:-z-20"
                style="background-image: url(./dist/images/breadcrumb-bg.webp);">
                <img src="" alt="">
                <img src="./dist/images/breadcrunb__shape.png" alt="placeholder"
                    class="absolute bottom-0 left-0 lg:w-[12.5%] w-[20%] z-[1px]">
                <img src="./dist/images/bird-illustration-w.png" alt="placeholder"
                    class="absolute top-[10%] right-[4%] z-1 w-[7.5%]">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="flex text-2xl font-cursive">
                            <li class="pr-2">
                                <a href="index.html" class="text-white">Home</a>
                            </li>
                            <li>
                                <a href="#" class="text-[#ffffffb3] px-3 text-2xl">Destination</a>
                            </li>
                        </ol>
                    </nav>
                    <h2 class="text-white text-[54px] mt-2 font-medium font-serif">A Find Your Most Popular <br>
                        Destination
                    </h2>
                </div>
            </section>
            <!-- Explore our Tours -->
            <section class="explore pt-[120px] relative">
                <div class="absolute top-1/2 -translate-y-1/2 right-0 max-w-[14%] -z-[1] lg:inline-block">
                    <img src="./dist/images/tree-illustration.png" alt="leaf">
                </div>
                <div class="absolute top-[5%] left-[1%] max-w-[9%]">
                    <img src="./dist/images/bird-illustration.png" alt="">
                </div>
                <div class="container">
                    <div class="heading text-center pb-[60px]">
                        <h5 class="text-2xl font-cursive text-color-primary">Explore Our Tours</h5>
                        <h2 class="text-[35px] font-serif font-semibold mt-[10px] text-white">Top Attractions
                            Destinations
                        </h2>
                    </div>
                    <div class="grid grid-cols-5 gap-[30px]">
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-1.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    Beauty of France
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">10 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-2.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    London England
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">10 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-3.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    Tokyo, Japan
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">10 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-4.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    Kathmandu, Nepal
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">08 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-10.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    New Switzerland
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">06 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-6.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    Italy
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">12 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-7.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    Africa
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">20 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-8.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    London England
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">24 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-11.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    India, Tajmahal
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">12 Tours Place</p>
                        </div>
                        <div class="card text-center group">
                            <a href="#" class="bg-white flex justify-center items-center p-6">
                                <img src="./dist/images/m-9.png" alt=""
                                    class="h-[120px] group-hover:scale-110 transition-all duration-500">
                            </a>
                            <h4 class="text-[22px] font-serif mt-7 text-white">
                                <a href="#">
                                    Switzerland
                                </a>
                            </h4>
                            <p class="font-medium mt-2 text-color-primary text-[18px]">03 Tours Place</p>
                        </div>
                    </div>
                    <div class="w-full flex justify-center">
                        <div
                            class="btn bg-color-primary py-4 px-10 hover:bg-[#d0aa6c] transition-all duration-300 mt-14 inline-block">
                            <a href="#" class="text-white flex items-center justify-center">
                                Find Out More
                                <svg class="ml-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.42505 16.5999L12.8584 11.1666C13.5 10.5249 13.5 9.4749 12.8584 8.83324L7.42505 3.3999"
                                        stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog & news -->
            <section class="blog pt-[120px]">
                <%- include('./common/news.ejs')%>
            </section>
        </main>
        <%- include('./common/footer.ejs')%>
            <!-- jquery -->
            <script src="dist/js/jquery-3.7.1.min.js"></script>
            <script src="dist/js/script.js"></script>
            <!-- fancybox js -->
            <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
            <!-- swiper js -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    loop: true,
                    autoplay: {
                        delay: 2500,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>
            <script>
                var swiper = new Swiper(".mySwiper1", {
                    slidesPerView: 4,
                    spaceBetween: 30,
                    freeMode: true,
                    autoplay: {
                        delay: 2500,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                });
            </script>
            <script>
                var swiper = new Swiper(".mySwiper2", {
                    slidesPerView: 3,
                    spaceBetween: 30,
                    freeMode: true,
                    autoplay: {
                        delay: 2500,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                });
            </script>

            </body>

            </html>