<body class="bg-bgColor-bg">
    <header class="absolute w-full z-50">
        <!-- navbar -->
        <div class="navbar py-[10px]">
            <div class="container flex items-center mx-auto">
                <div class="w-2/12 flex justify-start">
                    <div class="btn bg-color-primary py-4 px-10 hover:bg-[#d0aa6c] transition-all duration-300">
                        <a href="#" class="text-white flex items-center">
                            Book A Trip
                            <svg class="ml-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.42505 16.5999L12.8584 11.1666C13.5 10.5249 13.5 9.4749 12.8584 8.83324L7.42505 3.3999"
                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="w-8/12 flex items-center justify-between">
                    <nav>
                        <ul class="flex">
                            <li class="group relative">
                                <a href="#" class="text-white items-center flex py-7 mx-5">
                                    <span>HOME</span>
                                    <i class="fa-solid fa-plus ml-2"></i>
                                </a>
                                <ul
                                    class="nav-dropdown absolute top-100 left-[20px] hidden group-hover:block transition-all duration-300 w-60 py-2 px-6 bg-white uppercase text-[14px] text-[#353535]">
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Home Classic
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Home Dark
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Home Parallax
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="group relative">
                                <a href="#" class="text-white items-center flex py-7 mx-5">
                                    <span>PAGES </span>
                                    <i class="fa-solid fa-plus ml-2"></i>
                                </a>
                                <ul
                                    class="nav-dropdown absolute top-100 left-[20px] hidden group-hover:block transition-all duration-300 w-60 py-2 px-6 bg-white uppercase text-[14px] text-[#353535]">
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="about.html" class="py-[9px] inline-block">
                                            About Us
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="destination.html" class="py-[9px] inline-block">
                                            Destinations
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Destinations Details
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Guids
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="gallery.html" class="py-[9px] inline-block">
                                            Gallery
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Faq
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Error
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Sign Up / Sign In
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="relative group">
                                <a href="#" class="text-white items-center flex py-7 mx-5">
                                    <span>DESTINATION</span>
                                    <i class="fa-solid fa-plus ml-2"></i>
                                </a>
                                <ul
                                    class="nav-dropdown absolute top-100 left-[20px] hidden group-hover:block transition-all duration-300 w-60 py-2 px-6 bg-white uppercase text-[14px] text-[#353535]">
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            New York
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Dubai
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            London
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Las Vegas
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Germany
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Paris
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Rome
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="logo w-14">
                        <a href="index.html">
                            <img src="./dist/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <nav>
                        <ul class="flex">
                            <li class="relative group">
                                <a href="#" class="text-white items-center flex py-7 mx-5">
                                    <span>BLOGS</span>
                                    <i class="fa-solid fa-plus ml-2"></i>
                                </a>
                                <ul
                                    class="nav-dropdown absolute top-100 left-[20px] hidden group-hover:block transition-all duration-300 w-60 py-2 px-6 bg-white uppercase text-[14px] text-[#353535]">
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Blog List
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Blog Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="relative group">
                                <a href="#" class="text-white items-center flex py-7 mx-5">
                                    <span>PACKAGES</span>
                                    <i class="fa-solid fa-plus ml-2"></i>
                                </a>
                                <ul
                                    class="nav-dropdown absolute top-100 left-[20px] hidden group-hover:block transition-all duration-300 w-60 py-2 px-6 bg-white uppercase text-[14px] text-[#353535]">
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Package List
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300 border-b">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Package List Sidebar
                                        </a>
                                    </li>
                                    <li class="hover:text-color-primary transition-all duration-300">
                                        <a href="index.html" class="py-[9px] inline-block">
                                            Package Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="contact.html" class="text-white items-center flex py-7 mx-5">
                                    <span>CONTACT</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="w-2/12 flex justify-end">
                    <div
                        class="cart mr-8 flex items-center text-white hover:text-color-primary transition-all duration-500">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24"></rect>
                            <path
                                d="M12 19C14.2091 19 16 17.2091 16 15C16 12.7909 14.2091 11 12 11C9.79086 11 8 12.7909 8 15C8 17.2091 9.79086 19 12 19Z"
                                stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M12.25 13.75V14.68C12.25 15.03 12.07 15.36 11.76 15.54L11 16" stroke="currentColor"
                                stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M9.00007 22H15.0001C19.0201 22 19.7401 20.39 19.9501 18.43L20.7001 12.43C20.9701 9.99 20.2701 8 16.0001 8H8.00007C3.73007 8 3.03007 9.99 3.30007 12.43L4.05007 18.43C4.26007 20.39 4.98007 22 9.00007 22Z"
                                stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M7.5 7.67001V6.70001C7.5 4.45001 9.31 2.24001 11.56 2.03001C14.24 1.77001 16.5 3.88001 16.5 6.51001V7.89001"
                                stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        <span class="ml-2">Cart (01)</span>
                    </div>
                    <div
                        class="user bg-color-primary hover:bg-[#d0aa6c] transition-all duration-300 flex items-center justify-center w-12 h-12 rounded-full text-white">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.1601 10.87C12.0601 10.86 11.9401 10.86 11.8301 10.87C9.45006 10.79 7.56006 8.84 7.56006 6.44C7.56006 3.99 9.54006 2 12.0001 2C14.4501 2 16.4401 3.99 16.4401 6.44C16.4301 8.84 14.5401 10.79 12.1601 10.87Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path
                                d="M7.15997 14.56C4.73997 16.18 4.73997 18.82 7.15997 20.43C9.90997 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.91997 12.73 7.15997 14.56Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </header>