<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title -->
    <title>
        <%= title %>
    </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./dist/images/favicon/favicon.ico" type="image/x-icon">
    <!-- fonts -->
    <link rel="stylesheet" href="./dist/css/fonts.css">
    <!-- icons -->
    <link rel="stylesheet" href="./dist/css/all.min.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- fancy-box -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
    <!-- css -->
    <link rel="stylesheet" href="./dist/css/style.css" rel="stylesheet">
</head>